!!! 5
html(lang: "it")
	head
		title= page_title
		script(type="text/javascript", src="https://github.com/LearnBoost/Socket.IO/raw/master/socket.io.js")
	body
		// use != so html is not escaped
		#content!= body
