!!! 5
html(lang: "it")
	head
		title= page_title
		script(type="text/javascript", src="/js/socket.io.js")
		script(type="text/javascript", src="/js/analyst.js")
	body
		// use != so html is not escaped
		#content!= body
